* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --nav-gap: 2rem;
  --nav-text-color: black;
  --max-page-width: 1600px;
  --nav-side-margin-mobile: 2rem;
  --nav-side-margin-desktop: 3rem;
  --section-paddingY: clamp(2.3rem, 7vw, 8rem);
  --section-paddingX: clamp(2rem, 5vw, 3rem);
  --background-color-main: #f5f5dc;
  --background-color-shop: #f1e5dc;
  --elements-border-radius: 30px;
  --elements-gap: clamp(2rem, 6vw, 4rem);
  --section-review-height: ;
}
@font-face {
  font-family: "obviously";
  src: url("./assets/fonts/ObviouslyDemo-Regular.otf");
}

body {
  min-width: 350px;
}
html {
  font-family: "obviously";
}
img {
  border-radius: var(--elements-border-radius);
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
h1 {
  margin-bottom: 1rem;
}
h2 {
  font-size: clamp(2.5rem, 4vw, 3.5rem);
}
h3 {
  font-size: clamp(2.2rem, 2vw, 3rem);
}
h4 {
  font-size: 1.2rem;
}
h2 a {
  color: black;
}
img {
  object-fit: cover;
  object-position: center;
  border-radius: var(--elements-border-radius);
}
/*shared classes*/
.m-auto {
  margin: auto;
}
.bgr-main {
  background-color: var(--background-color-main);
}
.bgr-shop {
  background-color: var(--background-color-shop);
}
.section-wrapper,
.footer-wrapper {
  padding: var(--section-paddingY) var(--section-paddingX);
  margin: auto;
  max-width: var(--max-page-width);
}
button {
  all: unset;
  border: 1px solid black;
  border-radius: var(--elements-border-radius);
  padding: 0.8rem 2.5rem;
  transition: 0.3s;
}
button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

/*end shared classes*/
header nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--nav-gap);
  align-items: center;
  border-bottom: 1px solid black;
  height: 100px;
  margin: auto;
  padding: 2rem 0;
  max-width: var(--max-page-width);
}
header nav ul {
  list-style: none;
  display: flex;
  gap: var(--nav-gap);
}
header a {
  text-decoration: none;
  color: var(--nav-text-color);
}
header nav .logo {
  white-space: nowrap;
  font-size: 2rem;
}
header nav .shopping-ico img {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}
header nav .shopping-ico {
  text-align: end;
}
header nav .mobile-menu {
  width: 30px;
  height: 30px;
  display: none;
}
/*hero*/
section.hero .hero-wrapper {
  margin: 0 var(--nav-side-margin-desktop);
  margin: auto;
}
section.hero .hero-wrapper h1 {
  text-align: center;
  font-size: clamp(3rem, 6vw, 4.5rem);
}
section.hero .hero-wrapper img {
  width: 100%;
}
/*end hero*/
/*start welcome section*/
section.welcome .welcome-wrapper {
  display: grid;
  grid-template-columns: 7fr 5fr;
  margin: auto;
  justify-content: space-between;
  gap: var(--elements-gap);
}
section.welcome .welcome-wrapper h2 {
  width: 70%;
}
section.welcome .welcome-text {
  display: flex;
  gap: var(--elements-gap);
  flex-direction: column;
  justify-content: space-between;
}
section.welcome .welcome-wrapper button {
  align-self: self-start;
}
/*end welcome section*/
/*star offer section*/
section.offer .offer-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  gap: var(--elements-gap);
}
section.offer .offer-wrapper .offer-main-img {
  max-width: 100%;
  max-height: 900px;
}
section.offer .offer-product img {
  max-height: 600px;
  width: 100%;
}
/*end offer section*/
/*section shop*/
section.shop .content-wrapper {
  display: flex;
  gap: var(--elements-gap);
}
section.shop .content-wrapper .text-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--elements-gap);
}
section.shop .content-wrapper .text-wrapper button {
  align-self: flex-start;
}
section.shop .content-wrapper {
  display: flex;
  gap: var(--elements-gap);
}
section.shop .content-wrapper > div {
  flex: 1;
}
section.shop .content-wrapper img {
  max-width: 350px;
  max-height: 350px;
  width: 100%;
}
/*end section shop*/
/*section review*/

section.review .section-wrapper,
section.review .section-wrapper .content-wrapper {
  height: 100%;
}
.bgr-review {
  width: 100%;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./assets/images/review-backgroud.png") center/cover no-repeat;
  animation: moveBg 10s linear infinite alternate;
}

@keyframes moveBg {
  from {
    background-position: center 0px;
  }
  to {
    background-position: center 80vh;
  }
}

section.review .content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--elements-gap);
}
section.review .content-wrapper img {
  width: 100%;
  height: 100%;
  max-height: 800px;
}
section.review .section-wrapper .text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/*end review section*/
/*insta section*/
section.instagram .section-wrapper .text-wrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section.instagram .section-wrapper .images-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--elements-gap);
  padding-top: var(--elements-gap);
}
section.instagram .section-wrapper .images-wrapper > img {
  width: 100%;
  aspect-ratio: 1 / 1;
}
/*insta section*/
/*footer*/
footer .footer-content-wrapper {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
}
footer .footer-content-wrapper .social-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer .footer-content-wrapper nav,
footer .footer-content-wrapper .form-wrapper {
  align-self: end;
}
footer .footer-content-wrapper nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
footer .footer-content-wrapper nav ul li a {
  color: black;
}
footer h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}
footer nav .logo {
  font-size: 2rem;
  display: block;
}
footer .social-ico img {
  all: unset;
  height: 20px;
}
footer .input-wrapper {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  align-self: end;
}
footer .input-wrapper input {
  padding: 1rem 2rem;
}
@media (max-width: 800px) {
  .logo {
    grid-column: 2;
    grid-row: 1;
  }
  .mobile-menu {
    grid-column: 1;
    grid-row: 1;
  }
  .menu {
    display: none;
    grid-row: 1;
  }
  .item3 {
    grid-column: 3;
    grid-row: 1;
  }
  header nav {
    margin: 0 var(--nav-side-margin-mobile);
  }
  header nav .desktop-menu {
    display: none;
  }

  header nav .mobile-menu {
    display: inline-block;
  }
  section.welcome .welcome-wrapper {
    grid-template-columns: 1fr;
  }
  section.offer .offer-wrapper {
    flex-direction: column;
  }
  section.offer .offer-product {
    max-width: 80%;
    margin-left: auto;
  }
  section.offer .offer-wrapper .offer-main-img {
    width: 80%;
    max-height: 500px;
    margin-right: auto;
  }
  section.shop .content-wrapper {
    flex-direction: column;
  }
  section.shop .content-wrapper > div img {
    width: 100%;
    max-height: initial;
    max-width: initial;
  }
  section.review .content-wrapper {
    grid-template-columns: 1fr;
  }
  section.instagram .section-wrapper .images-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  footer .footer-content-wrapper .social-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-direction: row;
  }
  footer .footer-content-wrapper {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
